---
on:
  push: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      - name: Install tools with apt
        run: sudo apt install -y shellcheck
      - name: Install tools with snap
        run: sudo snap install shfmt
      - name: setup
        run: make setup
      - name: run pre-commit
        run: pre-commit run --show-diff-on-failure --all-files
        env:
          SKIP: "no-commit-to-branch"
